<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">


<%- include('partials/header.ejs') -%>

<!-- Banner -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to E-commerce Website</h1>
    <p class="lead">Shop for all your favorite products here.</p>
    <a href="/products" class="btn btn-primary btn-lg">Shop Now</a>
  </div>
</div>

<!-- Products -->
<% allProducts.forEach((prod)=> { %>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="https://via.placeholder.com/350x150" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"><%= prod.productName %></a>
          </h4>
          <h5> &#x20b9; <%= prod.price %></h5>
          <p class="card-text"> <%= prod.productDes%> </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>    
  </div>
</div>
<% }) %>

<%- include('partials/footer.ejs') -%>

