<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('partials/header.ejs') -%>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% kidsProducts.forEach(function(product) { %>
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="<%= product.image%>" alt="..." width="450" height="300"/>
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder"><%= product.name.toUpperCase(); %></h5>
                          <!-- Product price-->
                          &#x20b9; <%= product.price %>
                      </div>
                  </div>
                  <form class="text-center" action="/kidsProducts" method="POST">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <input type="hidden" name="image" value="<%= product.image %>">
                    <label for="<%= product.name %>">Quantity:</label>
                    <input type="number" id="<%= product.name %>" name="quantity" value="1" min="1" max="10">
                    <br><br>
                    <button type="submit" class="btn btn-outline-dark mt-auto">Add to Cart</button>
                  </form>
                  <!-- Product actions-->
                  <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a>
                      </div>
                  </div> -->
              </div>
          </div>
          <% }); %>
        </div>
  </div>
</section>

<%- include('partials/footer.ejs') -%>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="./js/scripts.js"></script>