<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include('partials/header.ejs') -%>

<div class="container">
    <div class="row my-3">
      <% kidsProducts.forEach(function(product) { %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-4 colgreen">
            <div class="card-body">
            <img src="https://via.placeholder.com/350x350.png?text=<%= product.name %>" class="card-img-top" alt="<%= product.name %>">
              <h5 class="card-title"> <%= product.name.toUpperCase(); %> </h5>
              <p class="card-text"> &#x20b9; <%= product.price %></p>
              <div class="d-flex">
                <div>
                  <a href="#" class="btn btn-info">Add to Cart</a>
                </div>
                <div class="ml-auto">
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

<%- include('partials/footer.ejs') -%>
  