<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('partials/header.ejs') -%>

<body class = "d-flex flex-column vh-100">
<section class="py-5">
  <h3 class="mx-5" >Continue your shopping,  <%= user.name %> </h3>
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% mcart.forEach(function(product) { %>
          <div class="col mb-5">
              <div class="card h-100">
                  <img class="card-img-top" src="<%= product.image %>" alt="..." />
                  <div class="card-body p-4">
                      <div class="text-center">
                          <h5 class="fw-bolder"><%= product.name.toUpperCase(); %></h5>
                          &#x20b9; <%= product.price %>
                      </div>
                  </div>
                  <form class="text-center" action="/kidsProducts" method="POST">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <label for="<%= product.name %>">Quantity:</label>
                    <input type="number" id="<%= product.name %>" name="quantity" value="1" min="1" max="10">
                    <br><br>
                  </form>
              </div>
          </div>
          <% }); %>
        </div>
  </div>
  <div class=" mx-5 justify-content-md-center">
    <a class="btn btn-success" href="/invoice">Proceed to Checkout<a>
  </div>
</section>
</body>


  <%- include('partials/footer.ejs') -%>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="./js/scripts.js"></script>