<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper-base.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">


<!-- Navigation Bar -->
<%- include('partials/header.ejs') -%>

<!-- Product Details -->
<% allProducts.forEach((prod)=> { %>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid" src="https://via.placeholder.com/350x150" alt="">
    </div>
    <div class="col-lg-6">

      <h1> <%= prod.productName %></h1>
      <h2> &#x20b9; <%= prod.price %></h2>
      <p><%= prod.productDes %></p>
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</div>
<% }) %>

<%- include('partials/footer.ejs') -%>